
/* Style the topnav links */
.flex-container a {
    float: left;
    display: block;
    color: #9a6eb0;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
  }
  
  /* Change color on hover */
.flex-container a:hover {
    display: flex;
    background-color:rgba(167, 125, 193, 0.274);
    margin: auto;
    padding: 1em;
  }

/* Nav bar background */
  .flex-container {
    display: flex;
    justify-content: center;
    background-color: rgb(209, 236, 239);
    font-family: Arial, Helvetica, sans-serif;
  }

  nav {
    display: flex;
    align-items: center ;
    justify-content: space-between;
    background-color: rgb(209, 236, 239);
    font-family: Arial, Helvetica, sans-serif;
   
  }

  nav ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
  }

  .logo {
    display: inline-block;
  }